@mixin mQ($arg...) {
    @media screen and (min-width:nth($arg, 1)) and (max-width: nth($arg, 2)) {
        @content;
    }
}


.aboutme {
    height:40vh;
    border-bottom: 2px solid white;
    position:relative;
    label {
        display:block;
        text-align: center;
        font-weight: 700;
        font-size:1.7rem;
        @include mQ(1px, 425px) {
            font-weight: 500;
            font-size:1.5rem;
        }
        @include mQ(425px, 768px) {
            font-weight: 500;
            font-size:1.5rem;
        }
    }
    .aboutme-content {
        position:relative;
        text-align: justify;
        color: #ffffff;
        padding:10px;
        font-weight: 300;
        top:10%;
        margin-left:40%;
        margin-right:50px;
        font-size: 20px;
        @include mQ(1px, 425px) {
            top:20%;
            margin:0 auto;
            font-size: 14px;
        }
        @include mQ(425px, 768px) {
            top:35%;
            margin:0 auto;
            font-size: 15px;
        }
        @include mQ(768px, 1024px) {
            font-size: 16px;
            margin-right:10px;
        }
    }
}





.profilePic {
    height: 300px;
    width:300px;
    position:absolute;
    left:10%;
    top: -30%;
    border:2px solid white;
    z-index:5;
    @include mQ(1px, 425px) {
        height: 150px;
        width:150px;
    }
    @include mQ(425px, 768px) {
        height: 200px;
        width:200px;
    }
    @include mQ(768px, 1024px) {
        height: 250px;
        width:250px;
    }
}

