@media only screen and (min-width: 601px) {
    .header {
        padding: 12px;
    }
}

@media screen and (max-width: 601px) {
   .header .col {
       padding:6px !important;
   }
}

.header {
    border-bottom: 2px solid white;
}

.header a {
    font-weight: 600;
    letter-spacing:2px;
} 

.sidenav-trigger  {
    color:white;
    padding:10px;
}
